
<!-- Main Header Area Start -->
<div class="main-header header-transparent header-sticky">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-2 col-xl-2 col-md-6 col-6 col-custom">
                <div class="header-logo d-flex align-items-center">
                    <a >
                        <img class="img-full" src="assets/images/logo/logo.png" alt="Header Logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-8 d-none d-lg-flex justify-content-center col-custom">
                <nav class="main-nav d-none d-lg-flex">
                    <ul class="nav">
                        <li>
                            <a>
                                <span class="menu-text"> Home</span>
                            </a>
                        </li>
                        <li>
                            <a >
                                <span class="menu-text">Shop</span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-submenu dropdown-hover">
                                <li><a>Search Flower</a></li>
                                <li><a>Categories</a></li>
                                <li><a>Collections</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>
                                <span class="menu-text"> Blog</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="menu-text"> About Us</span>
                            </a>
                        </li>
                        <li>
                            <a >
                                <span class="menu-text">Contact Us</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-2 col-md-6 col-6 col-custom">
                <div class="header-right-area main-nav">
                    <ul class="nav">
                        <li class="minicart-wrap">
                            <a class="minicart-btn toolbar-btn">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="cart-item_count">3</span>
                            </a>
                            <div class="cart-item-wrapper dropdown-sidemenu dropdown-hover-2">
                                <div class="single-cart-item">
                                    <div class="cart-img">
                                        <a><img src="assets/images/cart/1.jpg" alt=""></a>
                                    </div>
                                    <div class="cart-text">
                                        <h5 class="title"><a>Sunflower Bouquet</a></h5>
                                        <div class="cart-text-btn">
                                            <div class="cart-qty">
                                                <span>1×</span>
                                                <span class="cart-price">{{500 | currency: 'PHP'}}</span>
                                            </div>
                                            <button type="button"><i class="ion-trash-b"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-cart-item">
                                    <div class="cart-img">
                                        <a><img src="assets/images/cart/2.jpg" alt=""></a>
                                    </div>
                                    <div class="cart-text">
                                        <h5 class="title"><a>Rose Bouquet</a></h5>
                                        <div class="cart-text-btn">
                                            <div class="cart-qty">
                                                <span>1×</span>
                                                <span class="cart-price">{{500 | currency: 'PHP'}}</span>
                                            </div>
                                            <button type="button"><i class="ion-trash-b"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="cart-price-total d-flex justify-content-between">
                                    <h5>Total :</h5>
                                    <h5>{{1000 | currency: 'PHP'}}</h5>
                                </div>
                                <div class="cart-links d-flex justify-content-between">
                                    <a class="btn product-cart button-icon flosun-button dark-btn">View cart</a>
                                    <a class="btn flosun-button secondary-btn rounded-0">Checkout</a>
                                </div>
                            </div>
                        </li>
                        <li class="sidemenu-wrap">
                            <a><i class="fa fa-search"></i> </a>
                            <ul class="dropdown-sidemenu dropdown-hover-2 dropdown-search">
                                <li>
                                    <form action="#">
                                        <input name="search" id="search" placeholder="Search" type="text">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        <li class="mobile-menu-btn d-lg-none">
                            <a class="off-canvas-btn" (click)="isOpenOffCanvas = true">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Header Area End -->
<!-- off-canvas menu start -->
<aside class="off-canvas-wrapper" id="mobileMenu" [ngClass]="{ 'open': isOpenOffCanvas }">
    <div class="off-canvas-overlay" (click)="isOpenOffCanvas = false;"></div>
    <div class="off-canvas-inner-content">
        <div class="btn-close-off-canvas" (click)="isOpenOffCanvas = false;">
            <i class="fa fa-times"></i>
        </div>
        <div class="off-canvas-inner">
            <div class="search-box-offcanvas">
                <form>
                    <input type="text" placeholder="Search product...">
                    <button class="search-btn"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <!-- mobile menu start -->
            <div class="mobile-navigation">
                <!-- mobile menu navigation start -->
                <nav>
                    <ul class="mobile-menu">
                        <li><a >Home</a></li>
                        <li class="menu-item-has-children "><a>Shop</a>
                            <ul class="dropdown">
                                <li><a>Search Flower</a></li>
                                <li><a>Categories</a></li>
                                <li><a>Collections</a></li>
                            </ul>
                        </li>
                        <li><a >Blog</a></li>
                        <li><a >About Us</a></li>
                        <li><a >Contact</a></li>
                    </ul>
                </nav>
                <!-- mobile menu navigation end -->
            </div>
            <!-- mobile menu end -->
            <div class="offcanvas-widget-area">
                <div class="top-info-wrap text-left text-black">
                    <ul class="address-info">
                        <li>
                            <i class="fa fa-phone"></i>
                            <a >(1245) 2456 012</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <a >{{'info@yourdomain.com'}}</a>
                        </li>
                    </ul>
                    <div class="widget-social">
                        <a class="facebook-color-bg" title="Facebook-f"><i class="fa fa-facebook-f"></i></a>
                        <a class="twitter-color-bg" title="Twitter"><i class="fa fa-twitter"></i></a>
                        <a class="linkedin-color-bg" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                        <a class="youtube-color-bg" title="Youtube"><i class="fa fa-youtube"></i></a>
                        <a class="vimeo-color-bg" title="Vimeo"><i class="fa fa-vimeo"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
<!-- off-canvas menu end -->