

<!-- Single Tab Content Start -->
<div class="tab-pane fade show active" role="tabpanel">
    <div class="myaccount-content">
        <h3>My Orders</h3>
        <div class="myaccount-table table-responsive text-center">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Aug 22, 2024</td>
                        <td>Pending</td>
                        <td>{{3000 | currency: 'PHP'}}</td>
                        <td><a class="btn flosun-button secondary-btn theme-color  rounded-0">View</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>July 22, 2024</td>
                        <td>Approved</td>
                        <td>{{200 | currency: 'PHP'}}</td>
                        <td><a class="btn flosun-button secondary-btn theme-color  rounded-0">View</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>June 12, 2024</td>
                        <td>On Hold</td>
                        <td>{{500 | currency: 'PHP'}}</td>
                        <td><a class="btn flosun-button secondary-btn theme-color  rounded-0">View</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Single Tab Content End -->